<!-- ---
import Layout from "../layout.astro";

<Layout title="Join Us" showTitle>
  <p class="mx-10 text-center mb-20">
    Redirecting to <a href="/joinus">/joinus</a>.
  </p>
  <head>
    <meta http-equiv="refresh" content="0; url=/joinus" />
    <title>Redirecting...</title>
  </head>
</Layout>
--- -->
