---
import Layout from "../layout.astro";

import { Image } from "astro:assets";
import cys from "../img/partners/cys.png";
import figma from "../img/partners/figma.svg";
import github from "../img/partners/github.svg";
import smu from "../img/partners/smu.png";
import xyz from "../img/partners/xyz.svg";

const partners = [
    {
        src: cys,
        title: "Cyber Youth Singapore",
        desc: "Cyber Youth Singapore is a registered charity under the Charities Act. They empower youths with skills and opportunities to become trailblazers of our digital future.",
    },
    {
        src: figma,
        title: "Figma",
        desc: "Figma is the leading collaborative design tool for building meaningful products. Focusing on user interface and user experience design, it provides a variety of vector graphics editor and prototyping tools.",
    },
    {
        src: github,
        title: "GitHub",
        desc: "GitHub is where you can store, share, and work together with others to write code. It provides distributed version control of access control, and more, for every project.",
    },
    {
        src: smu,
        title: "Singapore Management University",
        desc: "A premier university in Asia, the Singapore Management University (SMU) is internationally recognised for its world-class research and distinguished teaching.",
    },
    {
        src: xyz,
        title: ".xyz",
        desc: ".xyz is a popular low-cost domain ending for everyone. With more than 1.5M domains registered in more than 230 countries, it is a very popular option for choosing a domain.",
    }
];
---

<Layout title="Our Partners" desc="BuildingBloCS is only possible with the help of our partners" showTitle>
    <main class="flex justify-center flex-wrap mx-5 gap-x-4 mb-20">
        {
            partners.map((partner) => (
                <div class="bg-slate-900 max-w-xs w-full rounded-xl p-5 mt-5 border border-slate-700">
                    <Image src={partner.src} alt=`${partner.title}'s logo` loading=eager class="h-20 mx-auto object-contain" />
                    <h2 class="my-2 text-2xl">{partner.title}</h2>
                    <p>{partner.desc}</p>
                </div>
            ))
        }
    </main>
</Layout>
