---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Past Years - BuildingBloCS 2024</title>
        <meta http-equiv="refresh" content="0;url=/archive" />
        <link rel="canonical" href="https://buildingblocs.sg/archive" />
	</head>
</html>